body {
    font-family: "Ubuntu";
}

#title {
    background-color: #FF5D5D;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;

}

h1 {
    font-size: 4.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}

h2 {
      font-size: 3.3rem;
    line-height: 1.5;
} 


h3 {
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;

}


/* navigation-bar */

.navbar {
    padding-bottom: 0 0 4.5rem;
    /* top Left&Right bottom */
}

.navbar-nav{
    margin-left:auto;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Ubuntu";
}

/* Downloas-buttons */
.Download-button {
    margin: 5% 3% 5% 0;
}

/* title-image-section */
.title-image {
    width: 60%;
    transform: rotate(29deg);
}

/* features-section*/
#features {
    padding: 7% 15%;
}

.box-feature {
    text-align: center;
    padding: 6%;
}

.icon {
    margin-bottom: 1rem;
    color: rgb(248, 113, 100);
}

.icon:hover {
    color: #f14545;
}

/* coloring-section */
.white-section{
    background-color: #fff;
}

.colored-section{
    background-color: rgb(248, 113, 100);
    color: #fff;

}
/* Testimonial-Section */
#testimonials {
    padding: 7% 15%;
    text-align: center;
   }

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    height:500px;
}

/*  Press-Section  */
#press{   

    text-align: center;
    padding-bottom: 3% ;
}

.press-logo{
width: 15%;
margin: 20px 20px 50px;
}  
/* Pricing-Section */

#pricing{
    padding:100px ;
    text-align: center;
}

.pricing-column{
padding: 2% 3%;
}

@media (max-width : 1028px) {
    #title{
        text-align: center;
    }
    .title-image{
        position:static;
        transform: rotate(25); 
    }
}
/* Cta-Section */

#cta{
    
    
    padding: 7% 18%;
    text-align: center;
}
.cta-heading{

    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}
/* footer-section */
#footer{
    text-align: center;
    padding: 5% 15%;
    
}

.footer-icons{
    margin: 20px 10px; 
}